<!DOCTYPE html>
<html>
	<head>
		<title>Flaptus Leadebroard</title>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<meta name="author" content="CodingCactus" >
		<meta name="theme-color" content="#18FA11">
		<meta property="og:title" content="Flaptus Leaderboard" />
		<meta property="og:type" content="website" />
		<meta property="og:description" content="The online Flaptus leaderboard"/>
		<meta property="og:image" content="/favicon.ico" />

		<link href="/css/style.css" rel="stylesheet" type="text/css" />

		<script type="module" src="https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.esm.js"></script>
	</head>
	<body>
		
		<%= yield %>

	</body>
</html>