@font-face {
	font-family: Jumpman;
	src: url("/fonts/jumpman.ttf");
}

@font-face {
	font-family: Sniglet;
	src: url("/fonts/sniglet.ttf");
}

* {
	margin: 0;
}

body, html {
	background: #d9ac3d;
	font-family: Sniglet;
	font-size: 20px;
	height: 100%;
	/* overflow-y: hidden; */
}

main {
	background-image: url("/images/background.png");
	/* background-position: center; */
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* justify-content: center; */
	padding: 30px;
	height: 100%;
}

nav {
	display: flex;
	justify-content: space-between;
	height: 50px;
	padding: 20px;
}

h1 {
	font-size: 60px;
	font-family: Jumpman;
	color: #18FA11;
	text-align: center;
}

table {
	background: rgb(233 208 147 / 60%);
	padding: 20px;
	border-radius: 20px;
	width: 80%;
	border-spacing: 0;
	backdrop-filter: blur(3px);
}

th {
	font-size: 22px;
	text-align: left;
	padding-bottom: 20px;
}

tr {
	transition: 0.1s;
	height: 40px;
	border-radius: 10px;
}

tr:last-child {
	text-align: center;
}

tr:last-child button {
	background: transparent;
	border: none;
	transition: color 0.3s;
}

tr:last-child button ion-icon {
	transform: scale(2);
}

tr:last-child button {
	background: transparent;
	border: none;
	transition: color 0.3s, transform 0.1s;
}

tr:last-child button:hover {
	color: #18FA11;
	cursor: pointer;
}

tr:last-child button:first-of-type:active {
	transform: translateX(-2px)
}

tr:last-child button:last-of-type:active {
	transform: translateX(2px)
}

tr:not(:last-child):hover {
	background: #F1DCA7;
}

td {
	width: 30%;
	padding: 10px;
}

td:first-child {
	border-top-left-radius: 10px; 
	border-bottom-left-radius: 10px;
}

td:last-child {
	border-bottom-right-radius: 10px; 
	border-top-right-radius: 10px; 
}

.img {
	position: relative;
	width: 50px;
	height: 50px;
	left: 0;
	animation: float 2s infinite;
	background-image: url("/images/flaptus-flap.png");
	background-repeat: no-repeat;
	background-size: 85%;
	background-position: center;
}

@keyframes float {
	0% { top: 10px; transform: rotate(2deg); }
	50% { top: -10px; transform: rotate(-2deg); background-image: url("/images/flaptus.png"); }
	100% { top: 10px; transform: rotate(2deg); }
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

a {
	text-decoration: none;
	cursor: auto;
}

a span {
	color: #B0413E;
	border-bottom: 2px solid #B0413E;
	cursor: pointer;
}

a span:hover {
	color: #712A28;
	border-bottom: 2px solid #712A28;
}
a button {
	background: #F59A2D;
	color: #B0413E;
	width: 130px;
	height: 50px;
	border-radius: 10px;
	border: none;
	font-size: 25px;
	font-family: Sniglet;
	cursor: pointer;
	top: 0;
	position: relative;
	transition: top 0.5s;
	margin-bottom: 20px;
}

nav a button::before {
	content: "Play now!";
}

a button:hover {
	background: #E08D29;
	animation: fly 1s infinite;
}

@keyframes fly {
	/* 0% { top: 0; } */
	0% { top: -5px; }
	50% { top: 5px; }
	100% { top: -5px; }
}
 
a button:active {
	transform: scale(1.1) rotate(5deg);
} 

.footer {
	display: flex;
	height: 50%;
	justify-content: center;
	align-items: center;
	background: #f5c55e;
	gap: 50px;
	padding: 100px;
	/* flex-wrap: wrap; */
}

.footer .feedback {
	width: 25%;
}

.footer .logo {
	display: flex;
	gap: 20px;
}

.footer .links {
	display: flex;
	flex-direction: column;
	gap: 10px;
	font-size: 22px;
}

@media only screen and (max-width: 1000px) {

	.footer {
		height: auto;
		flex-direction: column;
		gap: 50px;
		padding: 30px;
	}

	.footer > * {
		width: 100% !important;
		align-items: center;
		justify-content: center;
	}

	.footer .links {
		align-items: baseline;
	}
}

@media only screen and (min-height: 900px) {
	/* table {
		margin-top: 200px;
	} */

	main {
		justify-content: center;
	}
}

@media only screen and (max-height: 900px) {
	main {
		/* padding-top: 100px; */
		height: 100vh;
	}

	table {
		/* transform: scale(0.8); */
	}
}

@media only screen and (max-width: 800px) {

	h1 {
		font-size: 40px;
	}

	nav a button::before {
		content: "▶";
		padding-top: 5px;
		padding-left: 5px;
	}

	nav a button {
		width: 50px !important;
		height: 50px !important;
		border-radius: 50%;
	}

	main {
		padding: 10px;
	}

	table {
		width: 100%;
		font-size: 18px;
	}
}

@media only screen and (max-width: 600px) {
	button {
		width: 110px !important;
		height: 40px !important;	
		font-size: 22px !important;
	}
}

@media only screen and (max-width: 500px) {

	nav a button {
		font-size: 20px;
	}

	nav {
		height: 70px;
	}

	h1 {
		position: relative;
		top: -10px;
	}
}

::selection {
	background: #18FA11;
	color: #191919;
}

::-webkit-scrollbar {
  width: 20px;
	background: rgba(241, 220, 167, 0.527);
}

::-webkit-scrollbar-thumb {
  background: #F59A2D;
	border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #E08D29;
}
